*{
    background-color: rgb(36, 36, 36);
}

.sign-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    
}

i {
    
    text-decoration: none;
    color: rgb(218, 216, 216);
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 12px;
}

i:hover{
    color: white;
}