.NavbarItems {
    background-color: rgb(51, 50, 50);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo {
    color: white;
    justify-self: start;
}

.nav-menu{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center; 
}

.nav-links{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover { 
    background-color: rgb(98, 98, 98);
}

.fa-bars{
    color: white;
}